.search-div{
    width: 80%;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}
.search-bar{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 70%;
    /* background-color: red; */
    padding: 5px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 25px;
}
.search-bar input{
    width: 94%;
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
    border: none;

}
.search-bar i{
    background-color: white;
    padding: 5px;
    font-size: 1.2rem;
}

@media screen and (max-width: 1921px) {
    .search-bar{
        width: 80%;
    }
    .search-bar i{
        font-size: 1rem;
    }
    .search-bar input{
        width: 80%;
        font-size: 1rem;
    
    }
}